
{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/img/logo3.jpg' %}" alt="Presentación" />
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light"><u>QUIENES SOMOS</u></h1>
        <p>
            Somos una empre..
        </p>
    </div>
</div>

<div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/img/logo3.jpg' %}" alt="Presentación" />
        </div>
            <div class="card-body">
        <p class="text-white m-0">
            <div><u>QUIENES SOMOS:</u></div>
        </p>
        <p class="text-white m-0"><P>SOMOS...............</P>
    </div>
    
</div>
    
    <!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'home/js/scripts.js' %}"></script>
</body>
</html>


    
{% endblock %}
