<div class="d-grid gap-3">
    <a href="{{ link }}" class="btn btn-info">Volver atrás</a>
</div>
{#     <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="text-align: center"><u>Envios a domicilio</u></h2>
                <{% comment  %}
                <p class="card-text"style="text-align: center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.
                </p>
                {% endcomment %}
            </div>
            <div class="card-footer"style="text-align: center">
                <a class="btn btn-primary btn-sm"style="text-align: center" href="#!">Más Información</a>
            </div>
        </div>
    </div>  
</div> #}