{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a CONSTRUMAT</title>
    <link rel="stylesheet" type="text/css" href="statics/core/css/estilo.css">
</head>
<body>
    {% block nav %}
        {% include 'home/nav.html' %}
    {% endblock nav %}

 <div>
    <h1 style="text-align: center">CONSTRUMAT</h1>
    <h3 style="text-align: center">Venta de materiales para la construcción</h3>
 </div>   
    
    {% block content %}
  
    {% endblock content  %}
    {% include 'home/footer.html' %}
</body>
</html>