<header display d-inlineblock style="text-align: center">
    <nav>
        <a class="btn btn-secondary" href="https://wa.me/542364608120">WhatsApp      .</a>
        <a class="btn btn-info" href="https://instagram.com/constru.mat?igshid=MzRIODBiNWFIZA==">Instagram        .</a>
        <a class="nav-item" display d-inline   href="{% url 'core:consulta' %}">Crear consulta         .</a>
        <a class="nav-item" display d-inline   href="{% url 'core:registro' %}">Registrar usuario          .</a>
        <a class="nav-item" display d-inline   href="{% url 'core:login' %}">Login           .</a>
        <a class="nav-item" display d-inline   href="{% url 'core:logout' %}">Logout           .</a>
        
    </nav>
</header>